<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.roger.sample.androidexam">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".InterfaceActivity"
            android:label="@string/title_activity_interface">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Exam1.Activity1"
            android:label="@string/title_activity_activity1" />
        <activity
            android:name=".Exam2.Activity2"
            android:label="@string/title_activity_activity2">
            <intent-filter>
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Exam3.Activity3"
            android:label="@string/title_activity_activity3">
            <intent-filter>
                <category android:name="org.roger.monkey" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Exam3.SoundActivity"
            android:label="@string/title_activity_sound" />
        <activity
            android:name=".Exam3.DisplayActivity"
            android:label="@string/title_activity_display" />
        <activity
            android:name=".Exam4_surfaceview.ViewTest"
            android:label="SurfaceView" />
        <activity
            android:name=".Exam5_Adapter.AdapterLearnActivity"
            android:label="@string/title_activity_adapter_learn" />
        <activity
            android:name=".Exam6_DataBinding.basic.DataBindingActivity"
            android:label="DataBindingActivity" />
        <activity
            android:name=".Exam6_DataBinding.DBInterfaceActivity"
            android:label="@string/title_activity_dbinterface" />
        <activity
            android:name=".Exam6_DataBinding.Observable.ObserableActivity"
            android:label="@string/title_activity_obserable" />
        <activity
            android:name=".Exam6_DataBinding.viewwithID.ViewWithIDActivity"
            android:label="@string/title_activity_view_with_id" />
        <activity
            android:name=".Exam0_wasteland.goToGetIt"
            android:label="goToGetIt" />
        <activity
            android:name=".Exam7_Service.LocalActivity"
            android:label="@string/title_activity_local" />
        <activity
            android:name=".Exam7_Service.IntentActivity"
            android:label="@string/title_activity_intent"/>
        <activity
            android:name=".Exam9_layoutCast.LayoutCastTest"
            android:label="@string/title_activity_LayoutTest"/>

        <!--other activities-->
        <activity android:name="com.github.mmin18.layoutcast.ResetActivity" />


        <!-- services -->
        <service
            android:name=".Exam7_Service.LocalService"
            android:exported="false"></service>

    </application>

</manifest>
